scheduled_job:
  stage: build
  image: 626635436144.dkr.ecr.ap-southeast-2.amazonaws.com/public.ecr.aws/docker/library/node:22
  rules:
    # This job only runs when the pipeline source is a schedule
    - if: $CI_PIPELINE_SOURCE == "schedule"
  # cache:
  #   key: service-time-series-weather-data
  #   paths:
  #     - data/
  variables:
    S3_END_POINT: "sgp1.digitaloceanspaces.com"
    S3_ACCESS_KEY: ""
    S3_SECRET_KEY: ""
    S3_BUCKET: "abcnewsdata"
    S3_DEST: "data-time-series-weather/"
    AURORA_ENDPOINT: https://aurora.abc.net.au/
    AURORA_API_KEY: ""
  before_script:
    - npm ci --include=dev
  script:
    - npm run go
